* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

p {
  color: #e8df06;
}

@font-face {
  src: url("./bpg_nino_mtavruli_normal.ttf");
  font-family: "Nino";
}

body {
  background-color: black;
  font-family: "Nino";
}
